<h2>Add a new Semester:</h2>
<form method="POST" action="/semesters/new">
  <ol>
    <li><input type="text" name="season" id="season", placeholder="season"></li><br>
    <li><input type="text" name="year" id="year", placeholder="year (must be 4 digits)"></li><br>
    <br>
  </ol>
  <input type="submit" value="submit">
</form>

<p><a href="/semesters">Back to Semesters Menu</a></p>
