<h2>Add a new Course:</h2>
<form method="POST" action="/courses/new">
  <input type="text" name="title" id="title", placeholder="title"><br>
  <input type="text" name="department" id="department", placeholder="department"><br>
  <input type="text" name="professor" id="professor", placeholder="professor"><br>
  <input type="text" name="location" id="location", placeholder="location"><br>
  <br>
  <input type="submit" value="submit">
</form>
