
<h2>Add a new Course:</h2>
<form method="POST" action="/semesters/<%=@semester.id%>/courses/new">
  <ol>
    <li><input type="text" name="title" id="title", placeholder="title"></li><br>
    <li><input type="text" name="department" id="department", placeholder="department"></li><br>
    <li><input type="text" name="professor" id="professor", placeholder="professor"></li><br>
    <li><input type="text" name="location" id="location", placeholder="location"></li><br>
    <br>
  </ol>
  <input type="submit" value="submit">
</form>
